.light {
  --color-text-base: #3c4043;
  --color-text-muted: #5f6368;
  --color-border-base: #dadce0;
  --color-background-base: #ffffff;
  --color-background-offset: #ffffff;
  --color-background-secondary: #f8f9fa;
}
.dark {
  --color-text-base: #e8eaed;
  --color-text-muted: #9aa0a6;
  --color-border-base: #5f6368;
  --color-background-base: #202124;
  --color-background-offset: #303134;
  --color-background-secondary: #3c4043;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::before,
  ::after {
    @apply border-skin-base;
  }
  html {
    @apply h-full;
  }
  body {
    @apply text-skin-base bg-skin-base h-full;
  }

  div#__next {
    @apply h-full;
  }
}

@layer components {
  .r-icon {
    @apply h-5 w-5;
  }
  @import "components/Layout/layout.scss";
  @import "components/Button/button.scss";
  @import "components/Dialog/dialog.scss";
  @import "components/RadioGroup/radioGroup.scss";
  @import "components/Drawer/drawer.scss";
  @import "components/Slider/slider.scss";
  @import "components/Tooltip/tooltip.scss";
  @import "components/Dropdown/dropdown.scss";
}
